<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppController.Properties.Settings>
            <setting name="TelegramKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaArchivos" serializeAs="String">
                <value />
            </setting>
            <setting name="Cloud" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="ThumbnailHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ThumbnailWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AdminId" serializeAs="String">
                <value />
            </setting>
            <setting name="Extension" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="LimiteCaracteres" serializeAs="String">
                <value>50</value>
            </setting>
        </AppController.Properties.Settings>
    </userSettings>
</configuration>